{% extends "Base_dashboard.html" %}

{% block conteudo %}
{% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li><b>{{ message }}</b></li>
                {% endfor %}       
            </ul>
        {% endif %}
    {% endwith %}
<h3>Cadastro</h3>
<form action="{{url_for('usuario.cadastrar_usuario')}}" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div>
        <span>Nome:</span>
        <input class="form-control" type="text" id="nome" name="nome" placeholder="Nome Completo" required style="margin: 5px;" maxlength="255">
    </div>
    <div>
        <span>Nome:</span>
        <input class="form-control" type="text" id="login" name="login" placeholder="Seu login" required style="margin: 5px;" maxlength="255">
    </div>
    <div>
        <span>E-mail:</span>
        <input class="form-control" type="email" id="email" name="email" placeholder="Seu email" required style="margin: 5px;" maxlength="80">
    </div>
    <div>
        <input class="form-control" type="file" id="foto_trainee" name="foto_trainee" placeholder="Sua foto" required style="margin: 5px;" maxlength="80">
    </div>
    <div>
        <span>Senha:</span>
        <input class="form-control" type="password" id="senha" name="senha" placeholder="***********" required style="margin: 5px;" maxlength="255">
    </div>
    <div>
        <span>Confirme sua senha:</span>
        <input class="form-control" type="password" id="confirmacao" name="confirmacao" placeholder="***********" required style="margin: 5px;" maxlength="255">
    </div>
    
    <button type="submit">Cadastrar</button>
</form>
{% endblock %}
