{% extends "Base_dashboard.html" %}

{% block titulo %}Editar senha{% endblock titulo %}

{% block conteudo %}
{% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li><b>{{ message }}</b></li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

<h3>Edição da senha</h3>
<form class="registerForm" action="{{url_for('usuario.editar_senha_usuario')}}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

    <div>
        <span>Nova senha:</span>
        <input class="form-control" type="password" id="senha" name="senha" placeholder="***********" required maxlength="255">
    </div>
    <div>
        <span>Confirme sua senha:</span>
        <input class="form-control"  type="password" id="confirmacao" name="confirmacao" placeholder="***********" required maxlength="255">
    </div>
    <button class="btn btn-primary" type="submit">Confirmar</button>
    <a href="{{url_for('usuario.perfil')}}" style="color: inherit; text-decoration: none;"><button class="btn btn-primary" type="button">Cancelar</button></a>
</form>
{% endblock %}
