{% extends "base_dashboard.html" %}

{% block titulo %}Editar senha{% endblock titulo %}

{% block conteudo %}

{% with messages = get_flashed_messages() %}
{% if messages %}
    <ul class=flashes style="list-style-type: none;">
        {% for message in messages %}
            <li><b>{{ message }}</b></li>
        {% endfor %}       
    </ul>
{% endif %}
{% endwith %}

<h3>Edição de usuário</h3>
<h4>{{entidade_usuario.login}}</h4>
<form class="registerForm" action="{{url_for('admin.admin_editar_usuario', id_user = entidade_usuario.id)}}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

    <div>
        <span>Login:</span>
        <input class="form-control" type="text" id="login" name="login" value="{{entidade_usuario.login}}" placeholder="Novo login" required maxlength="255">
    </div>
    <div>
        <span>Email:</span>
        <input class="form-control" type="email" id="email" name="email" value="{{entidade_usuario.email}}" placeholder="Novo email" required maxlength="80">
    </div>

    
    <div>
        <span>Ativar ou desativar usuário:</span>
        <select class="form-control" name="ativo" id="ativo" required>
            {% if entidade_usuario.active %}
            <option value="ativo">Ativo (Atual)</option>
            <option value="desativado">Desativar</option>
            {% else %}
            <option value="desativado">Desativado (Atual)</option>
            <option value="ativo">Ativar</option>
            {% endif %}
        </select>
    </div>

    <div>
        <span>Função:</span>
        <select class="form-control" name="funcao" id="funcao" required>
            <option value="{{entidade_usuario.urole}}">{{entidade_usuario.urole}} (Atual)</option>
            <option value="user">Usuário</option>
            <option value="admin">Administrador</option>
        </select>
    </div>

    <br>

    <button class="btn btn-primary" type="submit">Atualizar dados</button>
    
    <a href="{{url_for('admin.excluir_usuario_by_adm', id_user = entidade_usuario.id)}}" style="color: inherit; text-decoration: none;" onclick="return confirm('Voce tem certeza que deseja excluir este usuario?')">
        <button class="btn btn-primary" type="button">
        Excluir Usuario
        </button>
    </a>

    <button class="btn btn-primary" type="button"><a href="{{url_for('principal.index')}}" style="color: inherit; text-decoration: none;">Cancelar</a></button>
</form>
{% endblock %}
