{% extends "Base_dashboard.html" %}

{% block conteudo %}
{% with messages = get_flashed_messages() %}
{% if messages %}
    <ul class=flashes>
        {% for message in messages %}
            <li><b>{{ message }}</b></li>
        {% endfor %}
    </ul>
{% endif %}
{% endwith %}
<h2>Lista de Usuários</h2>
<div style="padding : 0px 0em 0 360px">
  <button  type="submit" name="button"><a style="color: inherit; text-decoration: none;" href="{{url_for('usuario.cadastrar_usuario')}}" >Cadastrar Usuário</a></button>
</div>
<table>
	<thead>
		<th>Nome</th>
		<th>Email</th>
		<th>Função</th>
	</thead>
	{% for usuario in lista %}
		<tr>
			<td style="text-align: center">{{usuario.login}}</td>
			<td style="text-align: center">{{usuario.email}}</td>
			<td style="text-align: center">{{usuario.urole}}</td>
			<td><button  type="submit" name="button"><a href="{{url_for('usuario.admin_editar_usuario', id_user = usuario.id)}}">Editar Usuário</a></button></td>
			<td>
          {% if usuario.active == True %}

        <form action="{{url_for('usuario.admin_desativar_usuario')}}" method="POST">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <div>
              <input type="hidden" id="id" name="id" value="{{usuario.id}}">
          </div>
          <button type="submit" onclick="return confirm('Você deseja desativar este usuário?');">Desativar Usuario</button>
        </form>
        {% else %}
        <form action="{{url_for('usuario.admin_ativar_usuario')}}" method="POST">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <div>
              <input type="hidden" id="id" name="id" value="{{usuario.id}}">
          </div>
          <button type="submit" onclick="return confirm('Você deseja ativar este usuário?');">Ativar Usuario</button>
        </form>
        {% endif %}
			<td><form action="{{url_for('usuario.admin_excluir_usuario_lista')}}" method="POST">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <div>
              <input type="hidden" id="id" name="id" value="{{usuario.id}}">
          </div>
          <button type="submit" onclick="return confirm('Você deseja excluir este usuário?');">Excluir Usuario</button>
        </form>
				</td>
</tr>
	{% endfor %}
</table>
{% endblock %}
