{% extends "Base_dashboard.html" %}

{% block conteudo %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li><b>{{ message }}</b></li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

<h3>Login</h3>

<form class="registerForm" action="{{url_for('usuario.login')}}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

    <div>
        <span>Usuário:</span>
        <input  class="form-control" type="text" id="login" name="login" placeholder="Seu login" required maxlength="255">
    </div>
    <div>
        <span>Senha:</span>
        <input  class="form-control" type="password" id="senha" name="senha" placeholder="***********" required maxlength="255">
    </div>

    <button class="btn btn-primary" type="submit">Logar</button>
  </form>
{% endblock %}
