{% extends "Base_dashboard.html" %}

{% with messages = get_flashed_messages() %}
{% if messages %}
    <ul class=flashes>
        {% for message in messages %}
            <li><b>{{ message }}</b></li>
        {% endfor %}
    </ul>
{% endif %}
{% endwith %}

{% block conteudo %}
<div style="display: flex; justify-content: center; align-items: center; height: 79vh;">
    <div class="card" style="width: 28rem;">
        <img class="card-img-top" src="{{url_for('static', filename='fotos_trainees/' + entidade_usuario.foto_trainee)}}" style="max-height: 50vh" alt="Card image cap">
        <div class="card-body">
        <h3 class="card-title" style="text-align: right;">{{entidade_usuario.nome}}</h5>
        <h5 class="card-text"  style="text-align: right;">Membro da empresa {{entidade_usuario.ej}}</p>
        <a href="{{url_for('usuario.editar_usuario')}}" class="btn btn-primary"  style="text-align: right;">Editar perfil</a>
        </div>
    </div>
</div>



{% endblock %}
