{% extends "base_dashboard.html" %}

{% block titulo %}Editar EJ{% endblock titulo %}

{% block conteudo %}
{% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li><b>{{ message }}</b></li>
                {% endfor %}       
            </ul>
        {% endif %}
    {% endwith %}
<h3>Editar EJ</h3>
<form action="{{url_for('ej.editar_ej', id = id)}}" method="POST" enctype="multipart/form-data" class="registerForm">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div>
        <span>Nome:</span>
        <input class="form-control" type="text" id="nome" name="nome" value="{{nome}}" required maxlength="255">
    </div>
    <div class="custom-file">
        <span>Foto de perfil</span><br>
        <input class="form-control" type="text" id="foto_ej" name="foto_ej" value={{foto}} placeholder="Foto da EJ" unrequired>
        <!--<label class="custom-file-label" for="validatedCustomFile">Escolher arquivo...</label>-->
    </div>
    <input type="hidden" name="id" id="id" value="{{id}}">
    <button class="btn btn-primary mt-3" type="submit">Atualizar</button>
</form>
{% endblock %}
