{% extends "base_dashboard.html" %}

{% block titulo %}Perfil da EJ{% endblock titulo %}

{% block conteudo %}
{% with messages = get_flashed_messages() %}
{% if messages %}
    <ul class=flashes>
        {% for message in messages %}
            <li><b>{{ message }}</b></li>
        {% endfor %}
    </ul>
{% endif %}
{% endwith %}

        {% if current_user.urole == usuario_urole_roles.ADMIN %}
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800"></h1>
            <div>
                <a href="{{url_for('ej.editar_ej', id=entidade_ej.id)}}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm btn-ej"> Editar EJ </a>
                <a href="{{url_for('ej.relacionar_ej', _id=entidade_ej.id)}}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm btn-ej"> Relacionar Trainee</a>
                <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm excluir-ej btn-ej" data-toggle="modal" data-target="#removerTrainee">Remover Trainee</button>
                <a href="{{url_for('ej.deleta_ej', _id=entidade_ej.id)}}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm excluir-ej btn-ej" onclick="return confirm('Você deseja excluir esta EJ?')" style="margin-left: 1.5rem;"> Excluir EJ</a>
            </div>
          </div>
          {% elif current_user.urole == 'user' and current_user in entidade_ej.getMembros() %}
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800"></h1>
            <div>
                <a href="{{url_for('ej.remover_trainee', id_ej=entidade_ej.id, id_trainee=current_user.id)}}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm excluir-ej btn-ej">Sair da EJ</a>
            </div>
          </div>
        {% endif %}
    <div class="card d-flex flex-row" style="width: 100%; display: flex; color: #112121; margin-bottom: 10px; ">
            <img src="{{url_for('static', filename='fotos_ej/' + entidade_ej.imagem)}}" style="max-height: 50vh; object-fit: cover; width: 128px; height: 128px; border-radius: 4px 0px 0px 4px;" alt="Card image cap">
            <div style="padding-top: 15px;padding-left: 15px;">
                <h1>{{entidade_ej.nome}}</h1>
                <h3>Empresa Júnior</h3>
            
            </div>
            
    </div>

<h3>Membros</h3>
<div class="d-flex row">
{% if not usuario.ej and current_user.urole == usuario_urole_roles['USER'] %}
<div class="col-sm-3">
    <div class="card d-flex flex-row" id="joinEJ" style="display: flex; color: #112121; padding-right: 20px; margin-right: 1%; height: 128px; margin-bottom: 10px; ">
        
            <div style="padding-top: 15px; padding-left: 15px;">
            <h5>Entrar na EJ</h5>
        </div>
    </div>
</div>
{% endif %}
{% for membro in entidade_ej.usuarios %}
<div class="col-sm-3">
    <div class="card d-flex flex-row" style="display: flex; color: #112121; padding-right: 20px; {% if membro != entidade_ej.usuarios[-1] %} margin-right: 1%; {%endif%} height: 128px; margin-bottom: 10px;">
        <img src="{{url_for('static', filename='fotos_trainees/' + membro.foto_trainee)}}" style="max-height: 50vh; object-fit: cover; width: 128px; border-radius: 4px 0px 0px 4px;" alt="Card image cap">
            <div style="padding-top: 15px;padding-left: 15px;">
            <h5>{{membro.nome}}</h5>
        </div>
    </div>
</div>
{% endfor %}
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

<div id="undoModal">
    <div class="modalbox">
        <h1>Entrar na empresa {{entidade_ej.nome}}?</h1>
        <div id="modalBtn">
            <form action="{{url_for('ej.perfil_ej', id = entidade_ej.id)}}" method="POST" style="display: inline;">
                <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                <button type="submit" class="btn btn-primary">Sim</button>
            </form>
            <button class="btn btn-primary">Não</button>
        </div>
    </div>
</div>
<div class="modal fade" id="removerTrainee" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="removerTrainee">Quem você deseja remover?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div style="text-align: center;" class="modal-body"><table class="table table-striped">
            <thead>
                <th scope="col">Nome</th>
                <th scope="col"></th>
            </thead>
            <tbody>
            {% for membro in entidade_ej.usuarios %}
            <tr>
                <td>{{membro.nome}}</td>
                <td><a href="{{url_for('ej.remover_trainee', id_ej=entidade_ej.id, id_trainee=membro.id)}}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm excluir-ej btn-ej"> Remover Trainee</a></td>
            </tr>
            {% endfor %}
        </tbody>
        </table></div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>


{% endblock %}