{% extends "Base_dashboard.html" %}

{% block conteudo %}
{% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li><b>{{ message }}</b></li>
                {% endfor %}       
            </ul>
        {% endif %}
    {% endwith %}
<h1> Empresas Juniores </h1><br>

<div class="grid-ejs">
    {% if not current_user.ej or current_user.urole == usuario_urole_roles['ADMIN'] %}
    <a href="{{url_for('ej.cadastrar_ej')}}">
        <div class="ejCard">  
            <div id="addEj"><h1>+</h1></div>
            <h1>Cadastrar EJ</h1>
        </div>
    </a> 
    {% endif %}
    {% for ej in lista %}
    <a href="{{url_for('ej.perfil_ej', id = ej.id)}}">
    <div class="ejCard">  
        <img src="{{url_for('static', filename='fotos_ej/' + ej.imagem)}}" alt="Card cover">
        <h1>{{ej.nome}}</h1>
    </div>
    </a>
    {% endfor %}
</div>
</div>


{% endblock %}
