{% extends 'Base_dashboard.html' %}

{% block titulo %}Relacionar Trainee{% endblock titulo %}

{% block conteudo %}
<div class="card shadow mb-4">
<div class="card-body">
<div class="table-responsive">
<table class="table" id="dataTable" cellspacing="0">
    <thead>
        <tr>
            <th scope="col">Trainee</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">Relacionar</th>
            
        </tr>
    </thead>
    <tbody>
        {% for usuario in usuario %}
        {% if not usuario.ej_id %}
        <tr>
            <form action="" method="POST"><input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="hidden" name="id" value="{{usuario.id}}">
            <input type="hidden" name="ej_id" value="{{ej.id}}">
            <td >{{usuario.nome}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><button class="btn btn-primary btn-sm">Relacionar</button></td></form>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
</div>
</div>
</div>
{% endblock conteudo %}