<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="height: auto;width: 20%;display: flex;">
        <canvas id="projetos" width="400" height="400" style="background-color: #f5f2f3;"></canvas>
        <canvas id="faturamento" width="400" height="400" style="background-color: #f5f2f3;"></canvas>
    </div>
    <script src="Chart.min.js"></script>
    <script>
        var horizonalLinePlugin = {
            afterDraw: function(chartInstance) {
                var yScale = chartInstance.scales["y-axis-0"];
                var canvas = chartInstance.chart;
                var ctx = canvas.ctx;
                var index;
                var line;
                var style;

                if (chartInstance.options.horizontalLine) {
                for (index = 0; index < chartInstance.options.horizontalLine.length; index++) {
                    line = chartInstance.options.horizontalLine[index];

                    if (!line.style) {
                        style = "black";
                    } else {
                        style = line.style;
                    }

                    if (line.y) {
                        yValue = yScale.getPixelForValue(line.y);
                    } else {
                        yValue = 0;
                    }
                    
                    if (!line.x) {
                        line.x = 0;
                    } 

                    ctx.lineWidth = 2;

                    if (yValue) {
                        ctx.beginPath();
                        ctx.moveTo(line.x, yValue);
                        ctx.lineTo(canvas.width, yValue);
                        ctx.strokeStyle = style;
                        ctx.stroke();
                    }

                    if (line.text) {
                        ctx.font = 'Georgia'
                        ctx.fillStyle = style;
                        ctx.fillText(line.text, line.x, yValue - 5);
                    }
                }
                return;
                };
            }
        };
        Chart.pluginService.register(horizonalLinePlugin);

        const porcP = 1/2 * 100
        const porcPFix = porcP.toFixed(2)

        const chartp = document.getElementById('projetos').getContext('2d');
        const projetos = new Chart(chartp, {
            type: 'bar',
            data: {
                labels: [`Projetos - ${porcPFix}%`],
                datasets: [ 
                    {
                        label: 'Meta',
                        type: 'line',
                        data: [10000],
                        borderColor: 'black',
                        backgroundColor: 'rgba(0, 0, 0, 0)',
                        pointBackgroundColor: 'black',
                        pointBorderColor: 'white',
                        pointRadius: '0',
                        pointBorderWidth: '1.8',
                        pointHoverRadius: '0'
                    },  
                    {
                        label: 'Atual',
                        data: [1],
                        backgroundColor: '#b39be899',
                        borderColor:'#b39be8',
                        borderWidth: 2,
                        barThickness: 100
                    }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            maxTicksLimit: 7,
                            stepSize: 1,
                            max: 3
                        }
                    }]
                },
                "horizontalLine": [{
                    "x": 22,
                    "y": 2,
                    "style": "black"
                }]
            }
        });
        
        const porcB = 10/12 * 100
        const porcBFix = porcB.toFixed(2)
        
        const chartb = document.getElementById('faturamento').getContext('2d')
        const faturamento = new Chart(chartb, {
            type: 'bar',
            data: {
                labels: [`Faturamento - ${porcBFix}%`],
                datasets: [ 
                    {
                        label: 'Meta',
                        type: 'line',
                        data: [10000],
                        borderColor: 'black',
                        backgroundColor: 'rgba(0, 0, 0, 0)',
                        pointBackgroundColor: 'black',
                        pointBorderColor: 'white',
                        pointRadius: '0',
                        pointBorderWidth: '1.8',
                        pointHoverRadius: '0'
                    },  
                    {
                        label: 'Atual',
                        data: [1000],
                        backgroundColor: '#9BD9E899',
                        borderColor:'#9BD9E8',
                        borderWidth: 2,
                        barThickness: 100
                    }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            maxTicksLimit: 7,
                            stepSize: 400,
                            max: 1600
                        }
                    }]
                },
                "horizontalLine": [{
                    "x": 42,
                    "y": 1200,
                    "style": "black"
                }]
            }
        })

    
    </script>

</body>
</html>