{% extends "base_dashboard.html" %}

{% block titulo %}Cadastrar tarefa{% endblock titulo %}

{% block conteudo %}
{% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li><b>{{ message }}</b></li>
                {% endfor %}       
            </ul>
        {% endif %}
    {% endwith %}
<h3>Cadastro de tarefa</h3>
<form method="POST" enctype="multipart/form-data" class="registerForm">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div>
        <span>Título da tarefa:</span>
        <input class="form-control" type="text" id="titulo" name="titulo" placeholder="Título" required maxlength="255">
    </div>
    <div>
        <span>Descrição</span>
        <input class="form-control" type="text" id="descricao" name="descricao" placeholder="Descrição" required maxlength="255">
    </div>
    <div>
        <span>Prazo</span>
        <input class="form-control" type="date" id="data" name="data" require>
    </div>
    <span>Foto da tarefa</span><br>
    <div class="custom-file">
        <input class="custom-file-input" type="file" id="icone" name="icone" placeholder="Foto da Tarefa" required>
        <label class="custom-file-label" for="validatedCustomFile">Escolher arquivo...</label>
    </div>
    <div style="margin-top: 8px; margin-bottom: 8px;">
        <span>É individual</span>
        <select class="form-control" name="ehSolo" id="ehSolo" required>
            <option value="sim">Sim</option>
            <option value="não">Não</option>
        </select>
    </div>
    <button class="btn btn-primary" type="submit">Cadastrar</button>
</form>
{% endblock %}

