{% extends "Base_dashboard.html" %}

{% block conteudo %}
{% with messages = get_flashed_messages() %}
{% if messages %}
    <ul class=flashes>
        {% for message in messages %}
            <li><b>{{ message }}</b></li>
        {% endfor %}
    </ul>
{% endif %}
{% endwith %}
<h2>Lista de Tarefas</h2>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800"></h1>
  <a href="{{url_for('tarefa.cadastra_tarefa')}}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"> Cadastrar Tarefa</a>
</div>

  

<div class="card">
  <table class="table"  id="listUsers">
	<thead>
		<th scope="col">Título</th>
		<th scope="col">Prazo</th>
    <th scope="col">É individual</th>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
	</thead>
	{% for tarefa in tarefas %}
		<tr>
			<td><button type="button" class="modal-btn btn btn-primary" data-toggle="modal" data-target= "#tarefa_{{tarefa.id}}">{{tarefa.titulo}}</button></td>
			<td><button type="button" class="modal-btn btn btn-primary" data-toggle="modal" data-target="#tarefa_{{tarefa.id}}">{{tarefa.prazo}}</button></td>
      {% if tarefa.ehSolo == 0 %}
        <td><button type="button" class="modal-btn btn btn-primary" data-toggle="modal" data-target="#tarefa_{{tarefa.id}}">Não</button></td>
      {% else %}
        <td><button type="button" class="modal-btn btn btn-primary" data-toggle="modal" data-target="#tarefa_{{tarefa.id}}">Sim</button></td>
      {% endif %}
      <td><a href="{{url_for('tarefa.visualizar_tarefa', _id=tarefa.id)}}">Ver Detalhes</a></td>
			<td><a href="{{url_for('tarefa.pagina_edicao_tarefa', id=tarefa.id)}}"><button class="btn"><i id="cor" class="far fa-edit"></i></button></a></td>
			<td><a href="{{url_for('tarefa.deleta_tarefa', id=tarefa.id)}}" class="btn-icon-lista" onclick="return confirm('Você deseja excluir esta tarefa?');"><button class="btn"><i id="cor" class="far fa-trash-alt"></i></button></a></td>
    </tr>
    
    <!-- Modal -->
    
    <div class="modal fade" id="tarefa_{{tarefa.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header" style="padding: 1% 1rem;">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-cover" style="padding: 0;">
            <img src="{{url_for('static', filename='fotos_tarefa/' + tarefa.icone)}}" alt="Card cover">
          </div>
          <div class="modal-eh-solo">
            {% if tarefa.ehSolo == 0 %}
              <p style="margin: 0;">Coletiva</p>
            {% else %}
              <p style="margin: 0;">Individual</p>              
            {% endif %}
          </div>
          <div class="modal-header" style="align-items: center;">
            <h4 class="modal-title" id="exampleModalLongTitle">{{tarefa.titulo}}</h4>
            <h6 style="margin: 0;">Prazo: {{tarefa.prazo}}</h6>
          </div>
          <div class="modal-body">
            <p style="font-size: large;">{{tarefa.descricao}}</p>
          </div>
          <div class="modal-footer">
            <a href="{{url_for('tarefa.deleta_tarefa', id=tarefa.id)}}" class="btn-icon-lista" onclick="return confirm('Você deseja excluir esta tarefa?');"><button type="button" class="btn btn-secondary">Excluir</button></a>
            <a href="{{url_for('tarefa.pagina_edicao_tarefa', id=tarefa.id)}}"><button type="button" class="btn btn-primary" style="margin-left: 2%;">Editar</button></a>
          </div>
        </div>
      </div>
    </div>
    
	{% endfor %}
</table>
</div>
{% endblock %}
