{% extends "Base_dashboard.html" %}

{% block conteudo %}
{% with messages = get_flashed_messages() %}
{% if messages %}
    <ul class=flashes>
        {% for message in messages %}
            <li><b>{{ message }}</b></li>
        {% endfor %}
    </ul>
{% endif %}
{% endwith %}
<h2 class="h2Tarefa">Lista de Tarefas</h2>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800"></h1>
</div>

  <div class="grid-tarefas" id="lista-tarefas">
    {% for tarefa in tarefas %}
    {% if tarefa not in current_user.get_tarefas() %}
      <div class="smaller-padding">
        <button type="button" class="modal-btn" style="width: 100%" data-toggle="modal" data-target="#tarefa_{{tarefa.id}}">
            <div class="card hoverable" style="height: 100%; margin: 4%">  
                <div class="card-body">
                    <div class="card-titulo">
                        <p class="card-text">{{tarefa.titulo}}</p>
                    </div>
                    <div class="card-prazo">
                        <p class="card-desc">Prazo final: {{tarefa.prazo}}</p>
                    </div>

                  
                </div>
                <img src="{{url_for('static', filename='fotos_tarefa/' + tarefa.icone)}}" alt="Card cover">
                <div class="card-body">
                    {% if tarefa.ehSolo == 1 %}
                      <p class="card-text">Tarefa individual</p>
                    {% else %}
                      <p class="card-text">Tarefa coletiva</p>
                    {% endif %}
                </div>
            </div>
        </button>  
      </div>
    {% endif %}
    {% endfor %}
  </div>
  {% if current_user.get_tarefas() %}<h4 class="h2Tarefa" style="margin-top: 20px">Tarefas Concluídas</h4>{% endif %}
  <div class="grid-tarefas" id="lista-tarefas">
  {% for tarefa in tarefas %}
    {% if tarefa in current_user.get_tarefas() %}
      <div class="smaller-padding">
        <button type="button" class="modal-btn" style="width: 100%" data-toggle="modal" data-target="#tarefa_{{tarefa.id}}">
            <div class="card done" style="height: 100%; margin: 4%">  
                <div class="card-body">
                    <div class="card-titulo">
                        <p class="card-text">{{tarefa.titulo}}</p>
                    </div>
                    <div class="card-prazo">
                        <p class="card-desc">Prazo final: {{tarefa.prazo}}</p>
                    </div>

                  
                </div>
                <img src="{{url_for('static', filename='fotos_tarefa/' + tarefa.icone)}}" alt="Card cover">
                <div class="card-body">
                    {% if tarefa.ehSolo == 0 %}
                      <p class="card-text">Tarefa individual</p>
                    {% else %}
                      <p class="card-text">Tarefa coletiva</p>
                    {% endif %}
                </div>
            </div>
        </button>  
      </div>
    {% endif %}
    {% endfor %}
    </div>
    <!-- Modal -->

  {% for tarefa in tarefas %}
    <div class="modal fade" id="tarefa_{{tarefa.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header" style="padding: 1% 1rem;">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-cover" style="padding: 0;">
            <img src="{{url_for('static', filename='fotos_tarefa/' + tarefa.icone)}}" alt="Card cover">
          </div>
          <div class="modal-eh-solo">
            {% if tarefa.ehSolo == 0 %}
              <p style="margin: 0;">Coletiva</p>
            {% else %}
              <p style="margin: 0;">Individual</p>              
            {% endif %}
          </div>
          <div class="modal-header" style="align-items: center; padding-top: 0.4rem;">
            <h4 class="modal-title" id="exampleModalLongTitle">{{tarefa.titulo}}</h4>
            <h6 style="margin: 0;">Prazo: {{tarefa.prazo}}</h6>
          </div>
          <div class="modal-body">
            <p style="font-size: large;">{{tarefa.descricao}}</p>
          </div>
          {% if tarefa not in current_user.get_tarefas() %}
          <div class="modal-footer" style="padding: 0.6rem 1rem;">
            <form method="POST" action="" enctype="multipart/form-data">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
              <input type="hidden" name="id_tarefa" value ="{{tarefa.id}}">
              <button type="submit" class="btn btn-primary">Marcar como concluída</button>
            </form>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    
	{% endfor %}
{% endblock %}
