{% extends 'Base_dashboard.html' %}


{% block conteudo %}

<div id="tarefaFullCard">
        <h2>{{tarefa.titulo}}</h2>
        <img src="{{url_for('static', filename='fotos_tarefa/' + tarefa.icone)}}" alt="Foto da Tarefa">
        <span class="desc">{{tarefa.descricao}}</span>
        
        {% if tarefa.trainees %}
        <h5>Finalizado por:</h5>
        {% else %}
        <h5 style="margin-bottom: -8px;">Nenhum Trainee concluiu essa tarefa ainda.</h5>
        {% endif %}
        <div class="traineeGrid">
            
            {% for user in tarefa.get_trainees() %}
            {% for tarefas in tarefa_trainee %}
            {% if user.id == tarefas.id_trainee and tarefas.id_tarefa == tarefa.id %}
            <div class="traineeCard" id="{{user.id}}">
                <img class="traineePic" src="{{url_for('static', filename='fotos_trainees/' + user.foto_trainee)}}" alt="Card image cap">
                <span>
                    <h5 class="card-title">{{user.nome}}</h5>
                </span>
                <span>
                {% if tarefas.atrasada == True %}
                <h5 style="padding: 2px;" class="card-title btn btn-danger">Atrasado</h5>
                {% else %}
                <h5 style="padding: 2px;" class="card-title btn btn-success">Em dia</h5>
                {% endif %}
                
                </span>
            </div>
            {% endif %}
            {% endfor %}
            {% endfor %}
        </div>


</div>

<div id="undoModal">
    <div class="modalbox">
        <h1>Marcar tarefa como não feita?</h1>
        <div id="modalBtn">
            <a href="/tarefa/desfazer_tarefa/{{tarefa.id}}/"><button class="btn btn-primary">Sim</button></a>
            <button class="btn btn-primary">Não</button>
        </div>
    </div>
</div>


{% endblock conteudo %}

{% block scripts %}
<script>
    function undo(e) {
        $("#undoModal").css({visibility: 'visible'})

        original = $("#modalBtn a").attr("href")
        $("#modalBtn a").attr("href", original + $(this).attr("id"))
    }

    $(".traineeCard").on("click", undo)
    $("#modalBtn button").on("click", () => $("#undoModal").css({visibility: 'hidden'}))
</script>
{% endblock scripts %} 