{% extends 'Base_dashboard.html' %}


{% block conteudo %}

<div id="tarefaFullCard">
        <h2>{{tarefa.titulo}}</h2>
        <img src="{{url_for('static', filename='fotos_tarefa/' + tarefa.icone)}}" alt="Foto da Tarefa">
        <span class="desc">{{tarefa.descricao}}</span>
        
        {% if tarefa.trainees %}
        <h5>Finalizado por:</h5>
        {% else %}
        <h5 style="margin-bottom: -8px;">Nenhum Trainee concluiu essa tarefa ainda.</h5>
        {% endif %}
        <div class="traineeGrid">
            
            {% for user in tarefa.get_trainees() %}
            {% for tarefas in tarefa_trainee %}
            {% if user.id == tarefas.id_trainee and tarefas.id_tarefa == tarefa.id %}
            <div class="traineeCard">
                <img class="traineePic" src="{{url_for('static', filename='fotos_trainees/' + user.foto_trainee)}}" alt="Card image cap">
                <span>
                    <h5 class="card-title">{{user.nome}}</h5>
                </span>
                <span>
                {% if tarefas.atrasada == True %}
                <h5 style="padding: 2px;" class="card-title btn btn-danger">Atrasado</h5>
                {% else %}
                <h5 style="padding: 2px;" class="card-title btn btn-success">Em dia</h5>
                {% endif %}
                
                </span>
            </div>
            {% endif %}
            {% endfor %}
            {% endfor %}
        </div>


</div>



<!-- <h2>{{tarefa.titulo}}</h2>
<br>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <p style="font-size: large;">{{tarefa.descricao}}</p>
</div> #}


<!-- <div class="card shadow mb-4">
    <div class="card-body">
          <div class="table-responsive">

            <table class="table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th></th>
                        <th></th>
                        <th>Status</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for user in usuario %}
                    {% for tarefatrainee in tarefaTrainee %}
                    {% if user.id == tarefatrainee.id_trainee and tarefatrainee.id_tarefa == tarefa.id%}

                    <tr>
                        <td>{{user.nome}}</td>
                        <td></td>
                        <td></td>
                        {% if tarefatrainee.feita == True %}
                        <td>Atrasado</td>
                        {% elif tarefatrainee.feita == False %}
                        <td>Em Dia</td>
                        {% endif %}
                        
                    </tr>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div> 
    </div>
</div> -->


{% endblock conteudo %}