{% extends "Base_dashboard.html" %}

{% block conteudo %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            
                {% for message in messages %}
                    <b><div class="alert alert-primary" role="alert">
                        <button data-dismiss="alert" type="button" class="close" aria-label="Close">x</button>
                        {{message}}
                      </div></b>
                {% endfor %}       
            
        {% endif %}
    {% endwith %}
    {% if current_user.is_authenticated %}
    {% if not current_user.urole == usuario_urole_roles.ADMIN %}

    <h1 style="margin-bottom: 40px;"> Programa Trainee 2020.2 </h1>
    <h3> Missões pendentes </h3>
    <div class="taskList">
      {% for tarefa in tarefas %}
      {% if tarefa not in current_user.get_tarefas() %}  
        <div class="card">
            <div class="card-body">
                <i class="fas fa-tasks"></i> {{tarefa.titulo}}
            </div>
        </div>
      
      {% endif %}
      {% endfor %}
      
    </div>
    {% endif %}
    {% endif %}
    <br>
    <h3> EJ em Destaque </h3>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{url_for('static', filename='fotos_trainees/' + '52c7e72a65e347dbde179c4ed0ac49d7.jpg')}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Flasco Júnior</h5>
          <p class="card-text">A Flasco Júnior é uma empresa que trabalha com soluções em software.</p>
          <a href="" class="btn btn-primary">Ver Perfil</a>
        </div>
    </div>

{% endblock %}
