{% extends "base_dashboard.html" %}

{% block titulo %}Editar dados{% endblock titulo %}

{% block conteudo %}

{% with messages = get_flashed_messages() %}
{% if messages %}
    <ul class=flashes>
        {% for message in messages %}
            <li><b>{{ message }}</b></li>
        {% endfor %}
    </ul>
{% endif %}
{% endwith %}

<h3>Edição de usuário</h3>
<form class="registerForm" action="{{url_for('usuario.editar_usuario')}}" enctype="multipart/form-data" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

    <input type="hidden" id="loginAtual" name="loginAtual" value="{{login_usuario}}">
    <input type="hidden" id="emailAtual" name="emailAtual" value="{{email_usuario}}">

    <div>
        <span>Nome:</span>
        <input  class="form-control" type="text" id="nome" name="nome" value="{{entidade_usuario.nome}}" placeholder="Seu login" required maxlength="255">
    </div>
    <span>Foto de perfil</span><br>
    <div class="custom-file">
        <span>Foto de perfil</span><br>
        <input class="custom-file-input" type="file" id="foto_trainee" name="foto_trainee" placeholder="Sua foto" maxlength="80">
        <label class="custom-file-label" for="validatedCustomFile">Escolher arquivo...</label>
    </div>
    <div>
        <span>Username:</span>
        <input  class="form-control" type="text" id="login" name="login" value="{{login_usuario}}" placeholder="Seu login" required maxlength="255">
    </div>
    <div>
        <span>Email:</span>
        <input class="form-control" type="email" id="email" name="email" value="{{email_usuario}}" placeholder="Seu email" required maxlength="80">
    </div>

    {%if permissao_usuario == usuario_urole_roles.ADMIN%}
    <div>
        <span>Ativo/Inativo:</span>
        <input class="form-control" type="text" id="ativo" name="ativo" value="ativo" placeholder="ativo">
    </div>
    {%endif%}
    <br>
    <button class="btn btn-primary" type="submit">Confirmar</button>
    <a href="{{url_for('usuario.editar_senha_usuario')}}" style="color: inherit; text-decoration: none;"><button class="btn btn-primary" type="button">Editar senha</button></a>
    {%if permissao_usuario == usuario_urole_roles.USER%}
    <a href="{{url_for('usuario.excluir_usuario')}}" style="color: inherit; text-decoration: none;" onclick="return confirm('Voce tem certeza que deseja excluir esta conta?')">
    <button class="btn btn-primary" type="button">
        Excluir Conta
    </button></a>
    {%endif%}
    <a href="{{url_for('usuario.perfil')}}" style="color: inherit; text-decoration: none;"><button class="btn btn-primary" type="button">Cancelar</button></a>
</form>
{% endblock %}
