{% extends "base_dashboard.html" %}

{% block titulo %}Lista de usuários{% endblock titulo %}

{% block conteudo %}
{% with messages = get_flashed_messages() %}
{% if messages %}
    <ul class=flashes>
        {% for message in messages %}
            <li><b>{{ message }}</b></li>
        {% endfor %}
    </ul>
{% endif %}
{% endwith %}
<h2>Lista de Usuários</h2>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800"></h1>
  <!--
    Conteúdo apagado para hospedar o sistema
  -->
  <p></p>
</div>

  
<div id="listUsers" class="card">
  <div class="card-body">
      <div class="card-title">
        <div class="d-flex flex-row">
            <div class="d-flex justify-content-start">
                <input type="hidden" name="csrf_token" id="token" value="{{ csrf_token() }}">
                <div class="d-flex ml-auto" style="background-color: none;">
                    <div class="ml-auto p-2 ">
                        <input class="form-control" placeholder="Buscar..." type="search" id="usuarios">
                    </div>    
                </div>
            </div>
        </div>
      </div>
    <div id="renderiza_tarefas">
      {% include 'buscar_usuarios.html' %}
  </div>
  </div>
</div>
<script>
  $( "#usuarios" ).on({
      keyup: (event) =>{
        $.ajax({
            method: "GET",
            url: "{{url_for('usuario.buscar_usuarios')}}",
            headers: {
            'X-CSRF-Token': token
            },
            data: {usuarios: $('#usuarios').val()}
            ,
            success: (result) => {
            document.getElementById('renderiza_tarefas').innerHTML = ''
            $('#renderiza_tarefas').append(result)
            }
        })
      }
    })
</script>
{% endblock %}
