{% extends "base_dashboard.html" %}

{% block titulo %}Lista de usuários{% endblock titulo %}

{% block conteudo %}
{% with messages = get_flashed_messages() %}
{% if messages %}
    <ul class=flashes>
        {% for message in messages %}
            <li><b>{{ message }}</b></li>
        {% endfor %}
    </ul>
{% endif %}
{% endwith %}
<h2>Lista de Usuários</h2>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800"></h1>
  <!--
    Conteúdo apagado para hospedar o sistema
  -->
  <p></p>
</div>

  
<div id="listUsers" class="card">
  <div class="table-responsive">
<table class="table">
	<thead>
		<th scope="col">Nome</th>
		<th scope="col">Email</th>
    <th scope="col">Função</th>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
	</thead>
	{% for usuario in lista %}
		<tr>
			<td>{{usuario.login}}</td>
			<td>{{usuario.email}}</td>
			<td>{{usuario.urole}}</td>
			<td><a  href="{{url_for('admin.admin_editar_usuario', id_user = usuario.id)}}"><button class="btn"><i id="cor" class="far fa-edit"></i></button></a></td>
			<td>
          {% if usuario.active == True %}

        <form action="{{url_for('admin.admin_desativar_usuario')}}" method="POST">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <div>
              <input type="hidden" id="id" name="id" value="{{usuario.id}}">
          </div>
          <a class="btn-icon-lista" onclick="return confirm('Você deseja desativar este usuário?');"><button class="btn"><i id="cor" class="fas fa-user-slash"></i></button></a>
        </form>
        {% else %}
        <form action="{{url_for('admin.admin_ativar_usuario')}}" method="POST">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <div>
              <input type="hidden" id="id" name="id" value="{{usuario.id}}">
          </div>
          <a class="btn-icon-lista" onclick="return confirm('Você deseja ativar este usuário?');"><button class="btn"><i id="cor" class="fas fa-user"></i></button></a>
        </form>
        {% endif %}
			<td><form action="{{url_for('admin.admin_excluir_usuario_lista')}}" method="POST">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <div>
              <input type="hidden" id="id" name="id" value="{{usuario.id}}">
          </div>
          <a class="btn-icon-lista" onclick="return confirm('Você deseja excluir este usuário?');"><button class="btn"><i id="cor" class="far fa-trash-alt"></i></button></a>
        </form>
				</td>
</tr>
	{% endfor %}
</table>
</div>
</div>
{% endblock %}
