{% extends 'base_tela_de_login.html' %}
{% block mensagem %}Digite sua nova senha{% endblock mensagem %}
{% block form %}
<form action="{{url_for('usuario.recuperar_senha', token=token)}}" method="POST" class="user">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input type="hidden" name="token" value="{{ token }}">
    <div class="form-group">
      <input name="senha" type="password" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Nova Senha">
    </div>
    <div class="form-group">
        <input name="confirmar" type="password" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Confirme sua nova senha">
      </div>
    <button class="btn btn-primary btn-user btn-block">
      Salvar Alteração
    </button>
    <hr>
</form>
{% endblock form %}