{% extends "base_dashboard.html" %}

{% block titulo %}Usuário{% endblock titulo %}

{% block conteudo %}
<div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-md-2 d-flex flex-row" style="max-height: 214px;">
            <img class="card-img" style="object-fit: cover;" src="{{url_for('static', filename='fotos_trainees/' + trainee.foto_trainee)}}">
        </div>
        <div class="col-md-10 align-self-center">
            <div class="card-body">
                <h3 class="card-title" style="color: #112121;">{{ trainee.nome }}</h3>
                <p class="card-text mt-n3"><small class="text-muted">{{ trainee.login }}</small></p>
                <p class="card-text" style="color: #112121;">{{ trainee.email }}</p>
                <p class="card-text" style="color: #112121;">{{ trainee.ej.nome }}</p>
                <p class="card-text">Tarefas atrasadas: {{trainee.getQuantidadeTarefasAtrasadas()}}</p>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        {% if tarefasEntregues %}
            <div class="card-title">
                <div class="d-flex flex-row">
                    <div class="d-flex justify-content-start">
                        <input type="hidden" name="csrf_token" id="token" value="{{ csrf_token() }}">
                        <div class="d-flex ml-auto" style="background-color: none;">
                            <div class="ml-auto p-2 ">
                                <select style="border-radius: 5rem;" class="form-control" id="tarefa" name="tarefa">
                                    {% if not tarefa %}
                                        <option selected></option>
                                    {% else %}
                                        <option value=""></option>
                                        <option value="{{tarefa}}" selected>{{tarefa}}</option>
                                    {% endif %}
                                    {% if tarefa != "Atrasada" %}<option value="Atrasada">Atrasada</option>{% endif %}
                                    {% if tarefa != "Em dia" %}<option value="Em dia">Em dia</option>{% endif %}
                                </select>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div id="renderiza_tarefas">
            {% include 'buscar_tarefas_usuario.html' %}
        </div>
    <div>
</div>
<script>
    $( "#tarefa" ).change(function() {
        $.ajax({
            method: "GET",
            url: "{{url_for('usuario.buscar_tarefas_usuario', _id = trainee.id)}}",
            headers: {
            'X-CSRF-Token': token
            },
            data: {tarefa: $('#tarefa').val()}
            ,
            success: (result) => {
            document.getElementById('renderiza_tarefas').innerHTML = ''
            $('#renderiza_tarefas').append(result)
            }
        })
    })
</script>
{% endblock %}
