{% extends "base_dashboard.html" %}

{% block titulo %}Editar tarefa{% endblock titulo %}

{% block conteudo %}
{% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li><b>{{ message }}</b></li>
                {% endfor %}       
            </ul>
        {% endif %}
    {% endwith %}
<h3>Cadastro de tarefa</h3>
<form action="{{url_for('tarefa.edita_tarefa')}}" method="POST" enctype="multipart/form-data" class="registerForm">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div>
        <span>Título da tarefa:</span>
        <input class="form-control" type="text" id="titulo" name="titulo" value="{{titulo}}" required maxlength="255">
    </div>
    <div>
        <span>Descrição</span>
        <input class="form-control" type="text" id="descricao" name="descricao" value="{{descricao}}" required maxlength="255">
    </div>
    <div>
        <span>Prazo</span>
        <input class="form-control" type="date" id="data" name="data" required value="{{prazo}}">
    </div>
    <span>Foto da tarefa</span><br>
    <div class="custom-file">
        <input class="custom-file-input" type="file" id="icone" name="icone" placeholder="Sua foto" unrequired>
        <label class="custom-file-label" for="validatedCustomFile">Escolher arquivo...</label>
    </div>
    <div style="margin-top: 8px; margin-bottom: 8px;">
        <span>É individual</span>
        <select class="form-control" name="ehSolo" id="ehSolo" required>
            <option value="{{solo}}">{{solo}} (Atual)</option>
            <option value="sim">Sim</option>
            <option value="não">Não</option>
        </select>
    </div>
    <input type="hidden" name="id" id="id" value="{{id}}">
    <button class="btn btn-primary" type="submit">Cadastrar</button>
</form>
{% endblock %}

