{% extends "base_dashboard.html" %}

{% block titulo %}Editar tarefa{% endblock titulo %}

{% block conteudo %}
{% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li><b>{{ message }}</b></li>
                {% endfor %}       
            </ul>
        {% endif %}
    {% endwith %}
<h3>Cadastro de tarefa</h3>
<form action="{{url_for('tarefa.edita_tarefa')}}" method="POST" enctype="multipart/form-data" class="registerForm">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div>
        <span>Título da tarefa:</span>
        <input class="form-control" type="text" id="titulo" name="titulo" value="{{titulo}}" required maxlength="255">
    </div>
    <div>
        <span>Descrição</span>
        <input class="form-control" type="text" id="descricao" name="descricao" value="{{descricao}}" required maxlength="255">
    </div>
    <div>
        <span>Prazo</span>
        <input class="form-control" type="date" id="data" name="data" required value="{{prazo}}">
    </div>
    <span>Foto da tarefa</span><br>
    <div>
        <input class="form-control" type="text" id="icone" name="icone" placeholder="Foto da Tarefa" required>
    </div>
    <div style="margin-top: 8px; margin-bottom: 8px;">
        <span>É individual</span>
        <select class="form-control" name="ehSolo" id="ehSolo" required>
            <option value="{{solo}}">{{solo}} (Atual)</option>
            <option value="sim">Sim</option>
            <option value="não">Não</option>
        </select>
    </div>
    <div style="margin-top: 8px; margin-bottom: 8px;">
        <span>Semana </span>
        <select class="form-control" name="semana" id="semana" required>
            <option value="1">1° Semana</option>
            <option value="2">2° Semana</option>
            <option value="3">3° Semana</option>
            <option value="4">4° Semana</option>
            <option value="5">5° Semana</option>
            <option value="6">6° Semana</option>
            <option value="7">7° Semana</option>
            <option value="8">8° Semana</option>
            <option value="9">9° Semana</option>
            <option value="10">10° Semana</option>
            <option value="11">11° Semana</option>
            <option value="12">12° Semana</option>
            <option value="13">13° Semana</option>
            <option value="14">14° Semana</option>
            <option value="15">15° Semana</option>
            <option value="16">16° Semana</option>
            <option value="17">17° Semana</option>
            <option value="18">18° Semana</option>
            <option value="19">19° Semana</option>
            <option value="20">20° Semana</option>
        </select>
    </div>
    <input type="hidden" name="id" id="id" value="{{id}}">
    <button class="btn btn-primary" type="submit">Cadastrar</button>
</form>
{% endblock %}

