{% extends "base_dashboard.html" %}

{% block titulo %}Lista de tarefas{% endblock titulo %}

{% block conteudo %}
{% with messages = get_flashed_messages() %}
{% if messages %}
    <ul class=flashes>
        {% for message in messages %}
            <li><b>{{ message }}</b></li>
        {% endfor %}
    </ul>
{% endif %}
{% endwith %}
<h2 id="teste">Lista de Tarefas</h2>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800"></h1>
  <a href="{{url_for('tarefa.cadastra_tarefa')}}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"> Cadastrar Tarefa</a>
</div>
<div class="card">
  <div class="card-body">
    <div class="card-title">
      <div class="d-flex flex-row">
        <div class="d-flex justify-content-start">
          <input type="hidden" name="csrf_token" id="token" value="{{ csrf_token() }}">
            <div class="d-flex ml-auto" style="background-color: none;">
              <div class="ml-auto p-2 ">
                <select style="border-radius: 5rem;" class="form-control" id="semana" name="semana">
                  {% if not semana %}
                      <option selected></option>
                      {% else %}
                      <option value=""></option>
                      <option value="{{semana}}" selected>{{semana}}° Semana</option>
                      {% endif %}
                      {% if semana != "1" %}<option value="1">1° Semana</option>{% endif %}
                      {% if semana != "2" %}<option value="2">2° Semana</option>{% endif %}
                      {% if semana != "3" %}<option value="3">3° Semana</option>{% endif %}
                      {% if semana != "4" %}<option value="4">4° Semana</option>{% endif %}
                      {% if semana != "5" %}<option value="5">5° Semana</option>{% endif %}
                      {% if semana != "6" %}<option value="6">6° Semana</option>{% endif %}
                      {% if semana != "7" %}<option value="7">7° Semana</option>{% endif %}
                      {% if semana != "8" %}<option value="8">8° Semana</option>{% endif %}
                      {% if semana != "9" %}<option value="9">9° Semana</option>{% endif %}
                      {% if semana != "10" %}<option value="10">10° Semana</option>{% endif %}
                      {% if semana != "11" %}<option value="11">11° Semana</option>{% endif %}
                      {% if semana != "12" %}<option value="12">12° Semana</option>{% endif %}
                      {% if semana != "13" %}<option value="13">13° Semana</option>{% endif %}
                      {% if semana != "14" %}<option value="14">14° Semana</option>{% endif %}
                      {% if semana != "15" %}<option value="15">15° Semana</option>{% endif %}
                      {% if semana != "16" %}<option value="16">16° Semana</option>{% endif %}
                      {% if semana != "17" %}<option value="17">17° Semana</option>{% endif %}
                      {% if semana != "18" %}<option value="18">18° Semana</option>{% endif %}
                      {% if semana != "19" %}<option value="19">19° Semana</option>{% endif %}
                      {% if semana != "20" %}<option value="20">20° Semana</option>{% endif %}
                </select>
              </div>    
            </div>
            <div class="d-flex ml-auto" style="background-color: none;">
              <div class="ml-auto p-2 ">
                <select style="border-radius: 5rem;" name="tipo" id="tipo" class="form-control">
                  {% if not tipo %}
                    <option selected></option>
                  {% else %}
                    <option value=""></option>
                    <option value="{{tipo}}" selected>{{tipo}}</option>
                  {% endif %}
                  {% if tipo != "Individual" %}<option value="Individual">Individual</option>{% endif %}
                  {% if tipo != "Coletiva" %}<option value="Coletiva">Coletiva</option>{% endif %}
                  </select>
              </div>
            </div>
        </div>
      </div>
    </div>
<div id="renderiza_tarefas">
  {% include 'busca_tarefas.html' %}
</div>
</div>
</div>
<script>
  let token = document.getElementById('token').value

  $( "#semana" ).change(function() {

    $.ajax({
        method: "GET",
        url: "{{url_for('tarefa.busca_tarefas_admin')}}",
        headers: {
          'X-CSRF-Token': token
        },
        data: {semana: $('#semana').val(),
              tipo: $('#tipo').val()}
          ,
        success: (result) => {
          document.getElementById('renderiza_tarefas').innerHTML = ''
          $('#renderiza_tarefas').append(result)
        }
      })
})
$( "#tipo" ).change(function() {

$.ajax({
    method: "GET",
    url: "{{url_for('tarefa.busca_tarefas_admin')}}",
    headers: {
      'X-CSRF-Token': token
    },
    data: {semana: $('#semana').val(),
          tipo: $('#tipo').val()}
      ,
    success: (result) => {
      document.getElementById('renderiza_tarefas').innerHTML = ''
      $('#renderiza_tarefas').append(result)
    }
  })
})

</script>
{% endblock %}
